:root {
  --light-gray: #f7f7f7
}
.app {
  margin-left: 200px;
}
.rounded-corner { border-radius: 5px; }
.sidebar {
  width: 200px;
  height: 100%;
  position: fixed;
  overflow-x: hidden;
  padding-top: 30px;
  background: var(--light-gray);
}
.full-width { width: 100%; }
.p-10 { padding: 10px; }
.m-10 { margin: 10px; }
.mt-10 { margin-top: 10px; }
.mt-30 { margin-top: 30px; }