:root {
  --white: #fff;
  --light-gray: #f4f4f4;
  --gray: #cdcdcd
}
.app {
  margin-left: 225px;
  background-color: var(--white);
  background-image: linear-gradient(0deg, var(--white) 0%, var(--gray) 100%);
}
.sidebar {
  width: 225px;
  height: 100%;
  position: fixed;
  overflow-x: hidden;
  padding-top: 30px;
  background: var(--white);
}
.navbar {
  display: fixed;
  background-color: transparent;
  padding: 15px;
}
#tab .active { background-color: var(--gray); }
.rounded-corner { border-radius: 5px; }
.full-width { width: 100%; }
.p-10 { padding: 10px; }
.m-10 { margin: 10px; }
.mt-10 { margin-top: 10px; }
.mt-30 { margin-top: 30px; }