.pnp
.pnp.js
coverage
build
.eslintcache
debug.log
.netlify

.DS_Store
.env.local
.env.development
.env.development.local
.env.test.local
.env.production
.env.production.local

**/img/*[.png][.jpg]
dist
docs
node_modules
dist