:root {
	--black: 0 0 0;
	--white: 255 255 255;
	--gray: 205 205 205;
	--light-gray: 244 244 244;
	--dark-gray: 56 56 56;
}

body {
  	margin: 0;
  	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6, p { margin: 0; padding: 0; }

/* App Background */
.backdrop {
	top: 0;
	left: 0;
	z-index: -2;
	width: 100%;
	height: 100%;
	position: fixed;
}
.acrylic-material,
.backdrop-image,
.backdrop-overlay {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
}
.backdrop-overlay {
	top: 50%;
	left: 50%;
	z-index: -1;
	width: 200%;
	height: 250%;
	display: flex;
	position: fixed;
	display: -webkit-box;
	display: -ms-flexbox;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	    -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	        transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
.backdrop-overlay div {
	width: 10%;
	height: 10%;
	margin-right: 0.75%;
	margin-bottom: 0.75%;
	border-radius: 1.5vh;
	border: 1px solid rgb(var(--black));
}
.backdrop-image {
	background: url('./img/d229bbf31eaeebc7c88897732d8b932d.webp') center/cover no-repeat;
    -webkit-filter: blur(25px);
            filter: blur(25px);
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}
.acrylic-material {
	z-index: 1;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
}
.acrylic-material::before {
	content: '';
	opacity: .6;
	width: 100%;
	height: 100%;
	position: absolute;
	background-blend-mode: normal, color, luminosity;
	background: linear-gradient(0deg, rgba(239, 239, 239, 0.3), rgba(239, 239, 239, 0.3)), rgba(239, 239, 239, 0.95) url('./img/aaddc3454ccbefbb2d8d8461f8f7f481.webp') center/196px repeat;
	background: -o-linear-gradient(bottom, rgba(239, 239, 239, 0.3), rgba(239, 239, 239, 0.3)), rgba(239, 239, 239, 0.95) url('./img/aaddc3454ccbefbb2d8d8461f8f7f481.webp') center/196px repeat;
	background: -webkit-gradient(linear, left bottom, left top, from(rgba(239, 239, 239, 0.3)), to(rgba(239, 239, 239, 0.3))), rgba(239, 239, 239, 0.95) url('./img/aaddc3454ccbefbb2d8d8461f8f7f481.webp') center/196px repeat;
}

/* Sidebar */
.sidebar {
	width: 225px;
	height: 100%;
	position: fixed;
	padding-top: 30px;
	overflow-x: hidden;
	background: rgb(var(--white) / 40%);
}
#tabs .active { background: rgb(var(--gray) / 60%) }
.tab {
	font-weight: 525;
	color: rgb(var(--black) / 70%) !important;
}
.tab:hover, .active { color: rgb(var(--black)) !important }

/* Navbar */
.navbar {
	z-index: 99;
	padding: 15px;
	display: flex;
	overflow: auto;
	position: fixed;
	width: calc(100% - 255px);
	background-color: rgb(var(--white) / 50%);
}
.navbar:hover {
	transition: all .3s;
	background-color: rgb(var(--white) / 80%);
}

/* Base Layout */
.app { margin-left: 225px }
.base { margin-top: 100px }
.app-ui {
	height: 84vh;
	overflow: auto;
}
.card {
	width: 100%;
    border-radius: 5px;
    transition: all .3s;
    box-sizing: border-box;
	flex-wrap: nowrap !important;
    background-color: rgb(var(--white) / 20%);
    box-shadow: 0px 4px 8px rgb(var(--black) / 5%);
}
.large-card {
	width: 100%;
	height: 100%;
	padding: 15px;
    border-radius: 5px;
    transition: all .3s;
    box-sizing: border-box;
	flex-wrap: nowrap !important;
    background-color: rgb(var(--white) / 20%);
    box-shadow: 0px 4px 8px rgb(var(--black) / 5%);
}
.card:hover { background-color: rgb(var(--white) / 50%) }
.large-card:hover { background-color: rgb(var(--white) / 50%) }
.card img {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	box-shadow: 2px 0 10px rgb(var(--black) / 20%);
}
.card p, .large-card h3 { font-weight: 600 }
.card .play-btn, .large-card .play-btn { opacity: 0 }
.card:hover .play-btn,
.large-card:hover .play-btn,
.play-btn.pause { opacity: 1 }
#recent-playlist a {
	color: inherit;
	text-decoration: none;
}
#recent-playlist img {
	width: 75px;
    height: auto;
    display: block;
}
#playlist a {
	display: block;
	color: inherit;
	text-decoration: none;
}
#playlist img,
#playlist .MuiSkeleton-root {
	height: auto;
	display: block;
	max-width: 100%;
	border-radius: 20px;
	box-sizing: border-box;
}

/* Properties */
.none { display: none !important }
button:disabled,
input:disabled {
	cursor: not-allowed !important;
	pointer-events: visible !important;
}
.flex { display: flex; flex-wrap: wrap; }
.mrl-10 { margin: 0 10px; padding: 0; }
.rounded-corner { border-radius: 5px }
.close-btn {
	right: 60px;
	float: right;
}
.left-align { text-align: left }
.center-align { text-align: center }
.center-vert { margin: auto 0 !important; }
.center-flex { align-items: center; justify-content: center; }
.w-20 { width: 20% !important }
.w-30 { width: 30% !important }
.w-40 { width: 40% !important }
.w-50 { width: 50% !important }
.w-70 { width: 70% !important }
.w-100 { width: 100%; }
.p-10 { padding: 10px !important }
.m-10 { margin: 10px !important }
.mt-10 { margin-top: 10px !important }
.mt-30 { margin-top: 30px !important }
.ml-10 { margin-left: 10px !important }
.m-auto { margin: auto !important }
svg {
	display: block;
	margin: auto;
}
button {
	border: none;
	cursor: pointer;
	background-color: transparent;
}
.col-3 {
	display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
}
.col-4 {
	display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
#recent-playlist img, #footer img {
    display: block;
	width: 75px;
    height: 75px;
}

/* PlayBack Button */
.play-btn {
	width: 18px;
	height: 18px;
	cursor: pointer;
	border-style: solid;
	box-sizing: border-box;
	transition: 100ms all ease;
	border-width: 9px 0 9px 18px;
	border-color: transparent transparent transparent #202020;
}
.play-btn.pause {
	border-style: double;
    border-width: 0px 0 0px 17px;
}

/* Controller */
.footer {
	padding: 10px 20px;
	height: 12.5vh;
	overflow: auto;
	background: rgb(var(--white) / 60%);
	color: rgb(var(--black));
}
.footer .song-title {
	font-size: 18px;
	font-weight: 450;
}
.author { color: rgb(var(--dark-gray)) }
.footer .author { font-size: 13px }
.progress-bar {
	position: relative;
	height: 6px;
	width: 100%;
	outline: none;
	cursor: pointer;
	-webkit-appearance: none;
	background-color:rgb(var(--white))
}
.playback-bar {
	width: 100%;
	display: flex;
	padding: 10px;
	align-items: center;
}
.progress-time {
	font-size: 12px;
	min-width: 40px;
}
.audio {
	width: 100%;
	display: flex;
	padding: 10px;
	align-items: center;
}

/* Search */
.search { width: 50%; }

@media only screen and (max-width: 1200px) {
	.col-3 { grid-template-columns: 50% 50% }
	.col-4 { grid-template-columns: 33.3% 33.3% 33.3% }
	.search { width: 60%; }
}
@media only screen and (max-width: 700px) {
	.col-3 { grid-template-columns: 100% }
	.col-4 { grid-template-columns: 100% }
	.search { width: 100%; }
}